

.CTATProblem, .CTATSolution{
  border:none;
}

.CTATTextInput{
  width: 22px;
  text-align: center;
}

th.rotate {
  height: 140px;
  white-space: nowrap;
  padding:0px;
}

th.rotate > div {
  transform: 
    translate(5px, 51px)
    rotate(315deg);
  width: 30px;
}
th.rotate > div > span {
   padding: 5px 10px;
}

